#container {
	display: inline-block;
}

.left_pane_elements {
	height: 2in;
	width: 100%;
	border: 1px solid black;
}

#left_pane{
    float: left;
    width: 20%;
    height: 11in; 
    overflow-y: scroll;
	border: 1px solid black;
}

#right_pane{
	height: 11in;
	width: 8.5in;
	float: left;
	border: 1px solid black;
}

#section1 {
	
	display: table;	
	table-layout: fixed;
	width: 100%;
}

.section_1_boxes {
	display: table-cell;
	height: 2in;
	border: 1px solid black;
}

#section2  {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.section_2_boxes {
	display: table-cell;
	height: 2in;
	border: 1px solid black;
}

#section3 {
	display: table;
	table-layout: fixed;
	height: 5in;
	width: 100%;
}

#section4 {
	display: table;
	height: 2in;
	table-layout: fixed;
	width: 100%;
	border: 1px solid black;
}

.table_blocks {
	display: table-row;
	width = 100%;
	
}

.table_header_cells {
	display: table-cell;
	height: 20px;
	border: 2px solid black;
}

.table_row_cells {
	display: table-cell;
	height: 15px;
	border: 1px solid black;
}

#add_row_button {
	width: 100%;
	height: 20px;
	background-color: silver;
	border: 1px solid black;
}